<div class="card">
  <div class="card-header">
    <i class="fa fa-user"></i> Clasificación de Contratos

  </div>

  <div class="card-body">
    <div class="text-right "><a href="" class="btn btn-sm btn-cmac-hyo" [routerLink]="'create'"><i class="fa fa-file-word-o"></i> Nuevo Contrato</a></div>
    <br>
    <table class="table table-responsive-sm">
      <thead>
      <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let clasificionContrato of clasificacionContrato">
        <td>*</td>
        <td> {{this.clasificionContrato.Nombre}}</td>
        <td>
          <button class="btn btn-sm btn-cmac-hyo" type="button" (click)="abrir(clasificionContrato, tipoSolicitudTemplate)"><i class="fa fa-file-word-o" title="Generar Plantilla"> Plantilla</i></button> |
          <button class="btn btn-sm btn-cmac-hyo" type="button"><i class="fa fa-trash" title="Eliminar"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="">Prev</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">Next</a>
      </li>
    </ul>
  </div>
</div>



<ng-template #tipoSolicitudTemplate class="modal-lg">

  <div class="modal-header">
    <h4 class="modal-title pull-left">Contato: {{this.objClasificacionContrato.Nombre}}</h4>
    <button (click)="modalRef.hide()" class="float-right btn btn-sm btn-red-cmac-hyo"> <i
      class="fa fa-times"></i></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">

        <div class="form-group row">
          <div class="col-md-12">
            <table class="table table-responsive">
              <thead>
              <tr>
                <th>Variable</th>
                <th>Datos</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let vari of variables; let in=index">
                <td> {{vari.substring(1).toUpperCase()}} </td>
                <td><input type="text"  (change)="IngresaVariable($event)" (blur)="Reemplazar(vari)" class="form-control" ></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="col-12">


        <div class="row mt-3">
          <div class="col-12">
            <div class="table-responsive table-search">

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button (click)="modalRef.hide()" class="float-right btn btn-sm btn-youtube btn-cmac-hyo">
          <i class="fa fa-times"> Cancelar</i></button>
        <button  class="btn float-right btn-sm btn-youtube btn-cmac-hyo" (click)="download()">
          <i class="fa fa-file-word-o"></i> Descargar Plantilla</button>
      </div>
    </div>
  </div>
</ng-template>
