

<app-buscar-cliente *ngIf="estadoModal" (estadoModalEvent)="CerrarBusquedaCliente($event)" (clienteSeleccionadoEvent)="ClienteSeleccionado($event)"></app-buscar-cliente>
<app-credito-cliente *ngIf="estadoModalCredito" (codigoCredito)="RecibirCodigoCredito($event)" (estadoModalCreditoEvent)="CerrarCreditoCliente($event)" [codigoCliente]="codigoCliente"></app-credito-cliente>


<div class="card card-accent-primary" >
  <div class="card-header">
    Datos del Cliente Código : <strong> </strong> </div>
  <div class="card-body">
    <div class="text-right ">
      <button *ngIf="clienteData.CodigoCliente!=null" class="btn btn-sm btn-cmac-hyo" (click)="LineaCreditoGarantiaModal(lineaCreditoGarantiaTemplate)"><i class="fa fa-object-group"></i> Linea de Credito</button> |
      <button *ngIf="clienteData.CodigoCliente!=null" class="btn btn-sm btn-cmac-hyo" (click)="DatosGarantiaModal(garantiaTemplate)"><i class="fa fa-object-group"></i> Datos de Garantias</button> |
      <button *ngIf="clienteData.CodigoCliente!=null" class="btn btn-sm btn-cmac-hyo" (click)="AbrirCreditoCliente(this.clienteData.CodigoCliente)"><i class="fa fa-credit-card"></i> Ver Detalle de Credito</button> |
      <button  class="btn btn-sm btn-cmac-hyo" (click)="AbrirBusquedaCliente()"><i class="fa fa-user-plus"></i> Buscar Cliente</button></div>
    <br>

    <div class="form-group row">
      <label class="col-md-3 col-form-label">Código Cliente</label>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Nombre..." name="documento" value="{{clienteData.CodigoCliente}}" >
      </div>

      <label class="col-md-2 col-form-label">Código Crédito </label>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre"   value="{{this.recibeCodigo}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Documento Cliente</label>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Nombre..." name="documento" value="{{clienteData.Documento}}" >
      </div>

      <label class="col-md-2 col-form-label">Nombre Cliente</label>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre"   value="{{clienteData.Nombre}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Dirección</label>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre"  value="{{clienteData.Direccion}}" >
      </div>

      <label class="col-md-2 col-form-label">Teléfono</label>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre"  value="{{clienteData.Telefono}}" >
      </div>
    </div>

  </div>

</div>

<div *ngIf="clienteData.CodigoCliente!=null" class="card card-accent-success">
  <div class="card-header">
    Registro de Solicitud </div>
  <div class="card-body">
    <div class="form-group row">

      <label class="col-md-3 col-form-label">Garantias</label>
      <div class="col-md-7">
        <select class="form-control" name="listaTipoSolicitud" [(ngModel)]="objetoGarantia" >
          <option [ngValue]="undefined">Selecciona una opción</option>
          <option *ngFor="let garantia of datoGarantiaResponse" [ngValue]="garantia">
            {{garantia.cCodGarCli}}, {{garantia.cCodTipGar}}
          </option>
        </select>
      </div>
      <div class="col-2">
        <button (click)="AgregarGarantia()" class="btn btn-sm btn-cmac-hyo"> <i
          class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label text-left">Requisitos</label>
      <div class="col-md-9">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Requisito</th>
            <th>Cargar Archivo</th>
            <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let garantias of this.garantias">
            <td> {{garantias.Codigo}} </td>
            <td> {{garantias.Tipo}} </td>
            <td>
              <div class="text-center">
                <button (click)="QuitarGarantia(garantias)"
                        class="btn btn-sm btn-cmac-hyo"> <i
                  class="fa fa-trash"></i></button>
              </div>
            </td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="form-group row">

      <label class="col-md-3 col-form-label">Tipo de Solicitud</label>
      <div class="col-md-9">
        <select class="form-control" name="listaTipoSolicitud"  [(ngModel)]="opcionSolicitud" (change)="TraerRequisitos(opcionSolicitud)">
          <option [ngValue]="undefined">Selecciona una opción</option>
          <option *ngFor="let solicitud of listaTipoSolicitud" [ngValue]="solicitud.Codigo">
            {{solicitud.NombreSolicitud}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label text-left">Requisitos</label>
      <div class="col-md-9">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Requisito</th>
            <th>Cargar Archivo</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let solicitudRequisito of listaTipoSolicitudRequerimiento">
            <td> {{this.solicitudRequisito.NombreRequisito}}</td>
            <td>
              <input (change)="SeleccionarArchivo($event)" name="file" type="file">

            </td>
            <td>
              <button class="btn btn-sm btn-cmac-hyo" type="button" (click)="AgregarRequisitos(this.solicitudRequisito.CodigoRequisito)" onclick="this.disabled=true;"><i class="fa fa-upload" title="Subir"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <div class="card-footer">
    <button class="btn btn-sm btn-cmac-hyo" role="button" (click)="ConstruyeGrabar()">
      <i class="fa fa-save"></i> Grabar</button> &nbsp;
    <button class="btn btn-sm btn-cmac-hyo" type="reset" >
      <i class="fa fa-arrow-left"></i> Regresar</button>
  </div>
</div>



<ng-template #garantiaTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Garantias Cliente</h4>
    <button (click)="modalRef.hide()" class="float-right btn btn-sm btn-red-cmac-hyo"> <i
      class="fa fa-times"></i></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">

          <div class="row mt-3">
            <div class="col-12">
              <div class="row mt-3">
                <div class="col-12">
                  <div class="table-responsive table-search">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Nombre</th>
                        <th></th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let datoGarantia of datoGarantiaResponse">
                        <td> {{datoGarantia.cCodGarCli}} </td>
                        <td> {{datoGarantia.cCodTipGar}} </td>
                        <td>
                          <div class="text-center">
                            <button
                                    class="btn btn-sm btn-cmac-hyo"> <i
                              class="fa fa-trash"></i></button>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <button (click)="modalRef.hide()" class="btn float-right btn-sm btn-cmac-hyo">
                <i class="fa fa-times"> Cancelar </i></button> &nbsp;
              <button  class="btn float-right btn-sm btn-cmac-hyo">
                <i class="fa fa-save"></i> Guardar</button>
            </div>
          </div>

      </div>
    </div>
  </div>
</ng-template>


<ng-template #lineaCreditoGarantiaTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Linea de Credito Garantia</h4>
    <button (click)="modalRef.hide()" class="float-right btn btn-sm btn-red-cmac-hyo"> <i
      class="fa fa-times"></i></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">

        <div class="row mt-3">
          <div class="col-12">
            <div class="row mt-3">
              <div class="col-12">
                <div class="table-responsive table-search">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Codigo</th>
                      <th>Tipo Garantia </th>
                      <th>Saldo Capital</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let lineaCredito of garantiaLineaCredito">
                      <td> {{lineaCredito.CodigoGarantia}} </td>
                      <td> {{lineaCredito.CodigoTipoGarantia}} </td>
                      <td> {{lineaCredito.SaldoCapitalGar}} </td>
                      <td>
                        <div class="text-center">
                          <button
                            class="btn btn-sm btn-cmac-hyo"> <i
                            class="fa fa-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <button (click)="modalRef.hide()" class="btn float-right btn-sm btn-cmac-hyo">
              <i class="fa fa-times"> Cancelar </i></button> &nbsp;
            <button  class="btn float-right btn-sm btn-cmac-hyo">
              <i class="fa fa-save"></i> Guardar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>
